.wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.wrapper div {
    width: 60%;
}
.desc {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.tag {
    border: 1px solid darkgray;
    border-radius: 5%;
    margin: 5px;
    padding: 2px;
}
#first {
    
    color: green;
    
}
#second {
    
    color: green;
    

}
#third {
    
    color: palevioletred;


}
#fourth {

    color: palevioletred;


}
#fifth {

    color: palevioletred;


}
#description {
    border: 1px solid darkgrey;
    padding: 0px 30px 30px 30px;
    border-radius: 3%;
}

a {
    color: black;
    line-height: 1.25rem;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

a:hover {
    color: red;
    border-color: red;
}